# <div style="text-align: center;">Assignment-07(Pandas)</div>

## Description of the dataset:
* **AQI_data.csv is a dataset showing AQI values and pollution category based on the AQI values for different cities of Bangladesh.**
* **AQI values and pollution category of each city are presended side by side.**

<h1>Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

# Reading Data

In [ ]:
df = pd.read_csv('./AQI_data.csv')
df

,Date,Dhaka,Pollution Category,Chattogram,Pollution Category2,Gazipur,Pollution Category3,Narayanganj,Pollution Category4,Sylhet,...,Savar,Pollution Category9,Mymensingh,Pollution Category10,Cumilla,Pollution Category11,Norshingdi,Pollution Category12,Rangpur,Pollution Category13
0,5/9/2024,158,UNHEALTHY,101,CAUTION,198,UNHEALTHY,140,CAUTION,112,...,143,CAUTION,178,UNHEALTHY,173,UNHEALTHY,DNA,NaN,204,Very Unhealthy
1,5/9/2024,158,UNHEALTHY,101,CAUTION,198,UNHEALTHY,140,CAUTION,112,...,143,CAUTION,178,UNHEALTHY,173,UNHEALTHY,DNA,NaN,204,Very Unhealthy
2,5/11/2024,100,MODERATE,103,CAUTION,116,CAUTION,105,CAUTION,66,...,DNA,NaN,156,UNHEALTHY,160,UNHEALTHY,DNA,NaN,169,UNHEALTHY
3,5/11/2024,100,MODERATE,103,CAUTION,116,CAUTION,105,CAUTION,66,...,DNA,NaN,156,UNHEALTHY,160,UNHEALTHY,DNA,NaN,169,UNHEALTHY
4,3/8/2024,166,UNHEALTHY,104,CAUTION,186,UNHEALTHY,246,Very Unhealthy,DNA,...,201,Very Unhealthy,247,Very Unhealthy,254,Very Unhealthy,175,UNHEALTHY,183,UNHEALTHY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,4/3/2024,137,CAUTION,93,NaN,DNA,NaN,151,UNHEALTHY,61,...,159,UNHEALTHY,205,Very Unhealthy,155,UNHEALTHY,144,CAUTION,242,Very Unhealthy
264,4/8/2024,165,UNHEALTHY,207,NaN,197,UNHEALTHY,DNA,NaN,175,...,174,UNHEALTHY,182,UNHEALTHY,194,UNHEALTHY,177,UNHEALTHY,220,Very Unhealthy
265,4/8/2024,165,UNHEALTHY,207,NaN,197,UNHEALTHY,DNA,NaN,175,...,174,UNHEALTHY,182,UNHEALTHY,194,UNHEALTHY,177,UNHEALTHY,220,Very Unhealthy
266,5/18/2024,117,CAUTION,82,NaN,151,UNHEALTHY,88,MODERATE,107,...,110,CAUTION,150,CAUTION,154,UNHEALTHY,178,UNHEALTHY,160,UNHEALTHY
267,5/18/2024,117,CAUTION,83,NaN,151,UNHEALTHY,88,MODERATE,107,...,110,CAUTION,150,CAUTION,154,UNHEALTHY,178,UNHEALTHY,160,UNHEALTHY

# Analyze DataFrames

In [ ]:

df.head()
df.tail()
df.info()
df.columns
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  268 non-null    object
 1   Dhaka                 268 non-null    int64
 2   Pollution Category    268 non-null    object
 3   Chattogram            268 non-null    int64
 4   Pollution Category2   248 non-null    object
 5   Gazipur               268 non-null    object
 6   Pollution Category3   230 non-null    object
 7   Narayanganj           268 non-null    object
 8   Pollution Category4   200 non-null    object
 9   Sylhet                268 non-null    object
 10  Pollution Category5   206 non-null    object
 11  Khulna                268 non-null    object
 12  Pollution Category6   244 non-null    object
 13  Rajshahi              268 non-null    int64
 14  Pollution Category7   268 non-null    object
 15  Barishal              268 non-null    object
 16  Pollution Category8   242 non-null    object
 17  Savar                 268 non-null    object
 18  Pollution Category9   260 non-null    object
 19  Mymensingh            268 non-null    object
 20  Pollution Category10  250 non-null    object
 21  Cumilla               268 non-null    object
 22  Pollution Category11  256 non-null    object
 23  Norshingdi            268 non-null    object
 24  Pollution Category12  202 non-null    object
 25  Rangpur               268 non-null    object
 26  Pollution Category13  264 non-null    object
dtypes: int64(3), object(24)
memory usage: 56.7+ KB

(268, 27)

# Describe the dataset

In [9]:
df.describe(include='all')

,Date,Dhaka,Pollution Category,Chattogram,Pollution Category2,Gazipur,Pollution Category3,Narayanganj,Pollution Category4,Sylhet,...,Savar,Pollution Category9,Mymensingh,Pollution Category10,Cumilla,Pollution Category11,Norshingdi,Pollution Category12,Rangpur,Pollution Category13
count,268,268.000000,268,268.000000,248,268,230,268,200,268,...,268,260,268,250,268,256,268,202,268,264
unique,134,NaN,4,NaN,5,87,5,80,5,69,...,85,5,89,5,91,5,64,4,96,5
top,5/9/2024,NaN,CAUTION,NaN,CAUTION,DNA,UNHEALTHY,DNA,Very Unhealthy,DNA,...,169,UNHEALTHY,DNA,UNHEALTHY,DNA,Very Unhealthy,DNA,UNHEALTHY,180,UNHEALTHY
freq,2,NaN,102,NaN,94,38,114,68,74,62,...,12,138,18,134,12,102,66,112,8,118
mean,NaN,170.350746,NaN,138.787313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,43.311131,NaN,47.411612,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,73.000000,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,144.000000,NaN,104.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,166.000000,NaN,140.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,196.000000,NaN,177.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,296.000000,NaN,243.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Find Nulls values in each column

In [11]:
df.isnull().sum()

Date                     0
Dhaka                    0
Pollution Category       0
Chattogram               0
Pollution Category2     20
Gazipur                  0
Pollution Category3     38
Narayanganj              0
Pollution Category4     68
Sylhet                   0
Pollution Category5     62
Khulna                   0
Pollution Category6     24
Rajshahi                 0
Pollution Category7      0
Barishal                 0
Pollution Category8     26
Savar                    0
Pollution Category9      8
Mymensingh               0
Pollution Category10    18
Cumilla                  0
Pollution Category11    12
Norshingdi               0
Pollution Category12    66
Rangpur                  0
Pollution Category13     4
dtype: int64

# How many pollution category is used to describe air quality based on the AQI value?(Check in multiple districts)

In [73]:
all_categories = df.filter(like='Pollution Category').values.ravel()
all_categories = pd.Series(all_categories).dropna().unique()
print(all_categories)
print(f"Total Unique Categories Used to Describe Air Quality: {len(all_categories)}")

['CAUTION' 'MODERATE' 'UNHEALTHY' 'Very Unhealthy' 'GOOD'
 'Extremely Unhealthy']
Total Unique Categories Used to Describe Air Quality: 6

# How many pollution category is used to describe air quality based on the AQI value?

In [71]:
df['Pollution_Dhaka'] = df['Pollution_Dhaka'].str.strip()
num_categories = df['Pollution_Dhaka'].nunique()
categories = df['Pollution_Dhaka'].unique()
print(f"Number of pollution categories used: {num_categories}")
print("Categories:", categories)

Number of pollution categories used: 4
Categories: ['UNHEALTHY' 'MODERATE' 'CAUTION' 'Very Unhealthy']

# How many times did each pollution category occur in Dhaka?

In [21]:
df['Pollution_Dhaka'].value_counts()

Pollution_Dhaka
CAUTION           102
UNHEALTHY          98
Very Unhealthy     62
MODERATE            6
Name: count, dtype: int64

# Rename the column name of Pollution Category to Pollution_Dhaka

In [19]:
df.rename(columns={'Pollution Category': 'Pollution_Dhaka'}, inplace=True)

# Rename the column name of Pollution Category 2 to Pollution_Chattogram

In [27]:
df.rename(columns={'Pollution Category2': 'Pollution_Chattogram'}, inplace=True)

# Rename the column name of Pollution Category 2 to Pollution_Gazipur

In [36]:
df.rename(columns={'Pollution Category3': "Pollution_Gazipur"}, inplace=True)

# How many times air quality of Dhaka was healthy?

In [ ]:
healthy_dhaka = df[df['Pollution_Dhaka'] == 'HEALTHY']
healthy_count = healthy_dhaka.shape[0]
print(f"Dhaka's air quality was healthy {healthy_count} times.")

Dhaka's air quality was unhealthy 0 times.

# How many times air quality of Dhaka was unhealthy?

In [ ]:
unhealthy_dhaka = df[df['Pollution_Dhaka'] == 'UNHEALTHY']
unhealthy_count = unhealthy_dhaka.shape[0]
print(f"Dhaka's air quality was unhealthy {unhealthy_count} times.")

0

# How many times air quality of Dhaka was very unhealthy?

In [70]:
unhealthy_dhaka = df[df['Pollution_Dhaka'] == 'Very Unhealthy']
unhealthy_count = unhealthy_dhaka.shape[0]
print(f"Dhaka's air quality was unhealthy {unhealthy_count} times.")

Dhaka's air quality was unhealthy 62 times.

# How many times air quality of Dhaka was good?

In [50]:
dhaka_air_quality = df[df['Pollution_Dhaka'] == 'GOOD']
dhaka_air_quality_count = dhaka_air_quality.shape[0]
print(f"Dhaka's air quality was good {dhaka_air_quality_count} times.")

Dhaka's air quality was good 0 times.

# How many times air quality of Dhaka was moderate?

In [54]:
dhaka_air_quality = df[df['Pollution_Dhaka']== 'MODERATE']
dhaka_air_quality_count = dhaka_air_quality.shape[0]
print(f"Dhaka's air quality was moderate {dhaka_air_quality_count} times.")

Dhaka's air quality was moderate 6 times.

# How many times air quality of Dhaka was unhealthy or very unhealthy?

In [57]:
dhaka_air_quality = df[df['Pollution_Dhaka']== 'UNHEALTHY']
dhaka_air_quality_count = dhaka_air_quality.shape[0]
print(f"Dhaka's air quality was unhealthy {dhaka_air_quality_count} times.")

Dhaka's air quality was unhealthy 98 times.

# How many times AQI value of Dhaka was above 100 ?

In [59]:
aqi_above_100_dhaka = df[df['Dhaka'] > 100]
aqi_above_100_count = aqi_above_100_dhaka.shape[0]
print(f"Dhaka's AQI value was above 100 {aqi_above_100_count} times.")

Dhaka's AQI value was above 100 262 times.

# How many times AQI value of Chattogram was above 100 ?

In [60]:
aqi_above_100_chattogram = df[df['Chattogram'] > 100]
aqi_above_100_count = aqi_above_100_chattogram.shape[0]
print(f"Dhaka's AQI value was above 100 {aqi_above_100_count} times.")

Dhaka's AQI value was above 100 208 times.

# How many times AQI value of Dhaka was between 100 and 150?

In [62]:
aqi_dhaka = df[(df['Dhaka']>100) & (df['Dhaka']<=150)]
aqi_dhaka_count= aqi_dhaka.shape[0]
print(f"Dhaka's AQI value was between 100 and 150 {aqi_dhaka_count} times.")

Dhaka's AQI value was between 100 and 150 102 times.

# What is the minimum and maximum AQI value of Dhaka?

In [63]:
min_aqi_dhaka = df['Dhaka'].min()
max_aqi_dhaka = df['Dhaka'].max()

print(f"The minimum AQI value of Dhaka is {min_aqi_dhaka}.")
print(f"The maximum AQI value of Dhaka is {max_aqi_dhaka}.")

The minimum AQI value of Dhaka is 73.
The maximum AQI value of Dhaka is 296.

# What is the minimum and maximum AQI value of Chattogram?

In [65]:
min_aqi_ctg = df['Chattogram'].min()
max_aqi_ctg = df["Chattogram"].max()

print(f"The minimum AQI value of Chattogram is {min_aqi_ctg}.")
print(f"The maximum AQI value of Chattogram is {max_aqi_ctg}.")

The minimum AQI value of Chattogram is 24.
The maximum AQI value of Chattogram is 243.

# What is the mean AQI value of Chattogram?

In [67]:
mean_aqi_ctg = df['Chattogram'].mean()
print(f'The mean aqi value of ctg is {mean_aqi_ctg}')

The mean aqi value of ctg is 138.78731343283582

# What is the mean AQI value of Dhaka?

In [69]:
mean_aqi_dhaka= df['Dhaka'].mean()
print(f'The mean aqi value of dhaka is {mean_aqi_dhaka}')

The mean aqi value of dhaka is 170.3507462686567